* {
    padding:0;
    margin:0;
}
header {
background-color: rgb(112, 122, 122);
padding:25px;
color:white;

}

.menu {
display:flex;
justify-content:space-around;
}
li {
 margin-left:30px;
display:inline-block;
font-size:35px; 
}
a {
color:white;
text-decoration:none;
}
body {
    background-color: #7fffd44a;
}
.container {

    background-color: darkkhaki;
 display: inline-block;
 margin:10px;

}
.box {
    height:100px;
    width:100px;
    background-color: rgb(207, 126, 140);
    margin:5px;
        display:inline-block;
}
#fixed-box {
    position:fixed;
    right:10px;
}
.bottom-div {
height: 150px;
width:150px;
background-color: chocolate;
position: absolute;
right:20px;

}
.top-div {
height: 100px;
width:100px;
background-color: rgb(56, 47, 41);
position:absolute;
right: 45px;
margin-top:25px;
z-index: 2;
}
main {

}
.my-circle {
    background-color: green;
    width:100px;
    height: 100px;
    margin:25px;
    border-radius:50%;


}
footer {
background-color: rgb(112, 122, 122);
padding:25px 0px;
width:100%;
color:white;
text-align:center;
font-size:20px;
position:absolute;
bottom:0px;
}